// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$header-bg: yellow !default;
$header-border: lighten($header-bg, 15) !default;
$main-bg: image-url("retina_wood.png") !default;
$page-bg: image-url("retina_wood.png") !default;

ul, ol { list-style-position: inside }
ul, ol { p { margin-bottom: 0.5em } }